@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
	padding:0px;
	padding-left:100px;
	padding-top:10px;
	padding-bottom:50px;
}


#button_div ul li {
	display:inline;
	width:145px;
	height:23px;
	margin:0;

}

#button_div ul li a{
	display: block;
	float: left;
	width:145px;
	height:23px;
	text-align:center;
	text-decoration: none;
	line-height:23px;
	margin: 0;
	border-right: 1px solid white; 
	color:#666666;
	font-family:Georgia, "Times New Roman", Times, serif;
	background-image:url(../images/submit_button.gif);
}

#gridWithScroll{	
	overflow:scroll;
	height:400px;
	width:75%;
	border:1px #CCCCCC solid;
}

.txt_search{
	width:220px;
}

#char_lbl{
	padding-right:60px;
}

.tableColor{
	color:#6EBE44;
	text-decoration:none;
}

.charColor{
	color:#000000;
	text-decoration:none;
}