@charset "utf-8";
/* CSS Document */
.stepcarousel{
	position: relative; 
	border: 0px solid black;
	overflow: scroll; 
	width: 830px; 
	height: 600px; 
	clear:left;
	padding:0px;
	margin:0px;
}

.stepcarousel .belt{
	position: absolute; 
	left: 0px;
	top: 0px;
}

.stepcarousel .panel{
	float: left; 
	overflow: hidden; 
	margin: 0px;
	width: 830px; 
}

body {
	margin:0px;
	padding:0px;
	padding-left:70px;
	padding-top:10px;
}

.first{
	padding-left:5px;
}

.next{
	padding-left:15px;
	padding-right:12px;
}

.back{
	padding-left:12px;
	padding-right:15px;
}

#info{
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:20px;
}

#centerText{
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:20px;
	width:300px;
	float:left;
	height:25px;
	text-align:center;
}

#leftButtons{
	float:left;
	width:50px;	 
	height:25px; 
	text-align:center; 
	padding-top:7px;
	padding-left:15px;	
}

#rightButtons{
	width:50px;
	float:left;
	height:25px;
	text-align:center;
	padding-top:7px;
}


#centerText_vn{
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:20px;
	width:250px;
	float:left;
	height:25px;
	text-align:center;
}

#centerText_en{
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:20px;
	width:300px;
	float:left;
	height:25px;
	text-align:center;
}


/* --------- table's classes ----------- */
.big_table{
	padding:2px;
}

.big_tr{
}

.big_td{
	padding-left:15px;
}

.small_table{
}

.small_tr1{
}

.small_tr2{
	height:4px;
}


.small_td1{
	text-align:center;
}

.small_td2{
	font-family:"Times New Roman", Times, serif;
	font-size:20px;

	color:#999999;
}

.small_img{
	width:140px;
	height:105px;
	border:1px #999999 solid;
}